<% provide(:title, "What's On") %>


<div class="page-header parallax clearfix" style="background-image:url(http://www.gracechurchhalewood.org/wp-content/uploads/2018/08/Calendar-close-up-darker.jpeg); background-color:#e03361; height:150px;">
        <div class="title-subtitle-holder">
        	<div class="title-subtitle-holder-inner">
                        		<h2>Calendar of Events</h2>
            		        </div>


		<p><iframe style="border-width: 0;" src="https://gracechurchhalewood.churchsuite.co.uk/embed/calendar?preview=true" width="100%" height="800" frameborder="0" scrolling="yes"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿
		</span>
	</iframe>
</p>
<div class="clearfix"></div>
	<div class="social-share-bar"><h4>
		<i class="fa fa-share-alt"></i> 
            </div>               
             </div>