

<footer class="site-footer">
       	<div class="container">
    		<div class="site-footer-top">
                    		<!-- Quick Info -->
        		<div class="quick-info">
                    <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-4 " >
<h4><i class="fa fa-history"></i> SUNDAY MORNINGS
AT 10:30am</h4>
Halewood Leisure Centre
Baileys Lane, Halewood, Liverpool
L26 0TY</div>
<div class="col-md-4 " >
<h4><i class="fa fa-history"></i> SUNDAY EVENINGS
AT 6:30PM</h4>
(Feb-Mar/May-Jun/Oct-Nov)
New Hutte Neighbourhood Centre
Lichfield Road, Halewood, Liverpool
L26 1TT
</div>

<div class="col-md-4 " >
	<h4><i class="fa fa-envelope"></i> CONTACT US</h4>
		<a href="mailto:info@gracechurchhalewood.org">info@gracechurchhalewood.org</a></div>
                      </div>
<div class="col-md-3">
    <h4><i class="fa fa-clock-o"></i> Socialize with us</h4>
         <ul class="social-icons-colored inversed">
         <li class="facebook"><a href="https://www.facebook.com/gracechurchhalewood/" target="_blank"><i class="fa fa-facebook"></i></a></li>
     </ul>
</div>


                                            </div>
            	</div>
   </div>
        		<div class="site-footer-bottom">
            		<div class="row">
                                    		<div class="col-md-6 col-sm-6 copyrights-coll">
        					© 2018 Intellirails          			</div>
                                        		<div class="col-md-6 col-sm-6 copyrights-colr">
        										<nav class="footer-nav" role="navigation">
                        						<ul id="menu-footer-menu" class=""><li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://www.gracechurchhalewood.org/static_pages/contact/">Contact</a></li>
<li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="http://www.gracechurchhalewood.org/who-we-are/">New Here</a></li>
</ul>                        
</nav>
            			</div>
                    </div>
               	</div>
           	</div>
        </div>
    </footer>
    <!-- End site footer -->
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>  
</div>